.layer-three {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: circle 4s linear infinite;
  height: 100vh;
}

@keyframes circle {
  0% {
    transform: rotae(360deg);
  }
}

.text {
  font-size: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.but-text {
  font-size: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.layer-one {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
